/.dockerignore
/Dockerfile
/.git/
/.github/
/.gitignore
/.goreleaser.yml
/deploy/
!/deploy/ssl/.gitkeep
!/deploy/keys/.gitkeep
!/deploy/pubkeys/.gitkeep
/dist/
/sish
/.vscode/
/__debug_bin
/.DS_Store
/README*
/LICENSE*
/CHANGELOG*
/CONTRIBUTING*
/SECURITY*
/CODE_OF_CONDUCT*
/ISSUE_TEMPLATE*
/PULL_REQUEST_TEMPLATE*