{{ define "routes" }}
{{ template "header" .}}
<div class="row">
    <div class="col table-responsive">
        <h2>Clients</h2>
        <table id="client-table" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    {{ if .ShowCensus }}
                    <th scope="col" class="cid-col">CID</th>
                    {{ end }}
                    <th scope="col">Client Remote Address</th>
                    <th scope="col">Username</th>
                    <th scope="col" class="version-col">SSH Version</th>
                    <th scope="col" class="info-col">Info</th>
                    <th scope="col" class="compact-col">SSH Session ID</th>
                    <th scope="col" class="compact-col">SSH Pubkey Fingerprint</th>
                    <th scope="col">Connection Stats</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Listeners</th>
                    <th scope="col">Disconnect</th>
                </tr>
            </thead>
            <tbody id="client-list" data-bind="foreach: clients">
                <tr class="client-row" data-bind="click: showRoutes, css: {'table-active' : active}">
                    <th scope="row" data-bind="text: id"></th>
                    {{ if .ShowCensus }}
                    <td class="cid-col">
                        <span class="cid-dot" data-bind="css: { 'cid-green': isCensused, 'cid-red': !isCensused() }, attr: { title: isCensused() ? 'Censused' : 'Uncensed' }"></span>
                    </td>
                    {{ end }}
                    <th scope="row" data-bind="text: remoteAddr"></th>
                    <td data-bind="text: user"></td>
                    <td class="version-col" data-bind="text: version"></td>
                    <td class="info-col text-center">
                        <a style="text-transform: none; color: white;" class="btn btn-info btn-sm" href="javascript:void(0);" data-bind="click: showInfo">i</a>
                    </td>
                    <td class="compact-col">
                        <div class="d-flex align-items-center">
                            <span class="ellipsis-text" data-toggle="tooltip" data-placement="top" data-bind="text: session, attr: { title: session }"></span>
                            <a style="text-transform: none; color: white;" class="btn btn-secondary btn-sm ml-2" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Show and copy SSH Session ID" data-bind="click: showAndCopySession"><i class="fa fa-copy"></i></a>
                        </div>
                    </td>
                    <td class="compact-col">
                        <div class="d-flex align-items-center">
                            <span class="ellipsis-text" data-toggle="tooltip" data-placement="top" data-bind="text: pubKeyFingerprint, attr: { title: pubKeyFingerprint }"></span>
                            <a style="text-transform: none; color: white;" class="btn btn-secondary btn-sm ml-2" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Show and copy SSH Pubkey Fingerprint" data-bind="click: showAndCopyFingerprint"><i class="fa fa-copy"></i></a>
                        </div>
                    </td>
                    <td>
                        <a style="text-transform: none; color: white;" class="btn btn-info" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="text: connectionDuration, attr: { 'data-original-title': connectionStatsTooltip() }">
                        </a>
                    </td>
                    <td><a style="text-transform: none; color: white;" class="btn btn-secondary" href="javascript:void(0);" data-bind="click: showNotes">Notes</a></td>
                    <td data-bind="text: listenerCount"></td>
                    <td><a style="text-transform: none; color: white;" class="btn btn-danger" data-bind="click: disconnectClient">Disconnect</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col table-responsive">
        <h2>Routes</h2>
        <table id="route-table" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Address</th>
                    <th scope="col">File Address</th>
                    <th scope="col">Client Remote Address</th>
                    <th scope="col">Disconnect</th>
                </tr>
            </thead>
            <tbody id="route-list" data-bind="foreach: routes">
                <tr>
                    <th scope="row" data-bind="text: type"></th>
                    <td>
                        <span data-bind="if: type == 'HTTP'"><a style="text-transform: none; color: white;" class="btn btn-primary" data-bind="click: forwardToConsole, text: fullName"></a></span>
                        <span data-bind="ifnot: type == 'HTTP'"><span data-bind="text: fullName"></span></span>
                    </td>
                    <td data-bind="text: data"></td>
                    <td data-bind="text: clientData.remoteAddr"></td>
                    <td><a style="text-transform: none; color: white;" class="btn btn-danger" data-bind="click: disconnectRoute">Disconnect</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notesModalLabel">Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="notesModalBody" class="mb-0" style="white-space: pre-wrap;"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="valueModal" tabindex="-1" role="dialog" aria-labelledby="valueModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="valueModalLabel">Value</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="valueModalBody" class="mb-0" style="white-space: pre-wrap;"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Connection Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="infoModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var clients = {
        clients: ko.observableArray([]),
        routes: ko.observableArray([]),
        isPolling: false,
        sishRefreshTimer: null
    };

    var Route = function(clientData, routeType, routeName, routeData, disconnectType) {
        this.clientData = clientData;
        this.fullName = routeName;
        this.data = routeData;
        this.type = routeType;
        this.name = routeName;

        if (this.name.indexOf("/") !== -1) {
            var routeParts = this.name.split("/");
            this.name = routeParts[0];
            this.pathname = `/${routeParts[1]}`;
        }

        this.disconnectType = disconnectType;

        this.disconnectRoute = function() {
            $.get(window.location.href.replace("console", `api/disconnectroute/${this.disconnectType}/${btoa(this.data)}`), function(data) {
                window.location.reload();
            });
        }.bind(this);

        this.forwardToConsole = function() {
            window.location.href = window.location.href.replace(window.location.hostname, this.name).replace(window.location.pathname, `${this.pathname && this.pathname.length > 1 ? this.pathname : ''}${window.location.pathname}`);
        }.bind(this);
    };

    var Client = function(clientData) {
        var copyToClipboard = function(value) {
            if (navigator.clipboard && navigator.clipboard.writeText) {
                navigator.clipboard.writeText(value);
                return;
            }

            var temp = $('<textarea>');
            $('body').append(temp);
            temp.val(value).select();
            document.execCommand('copy');
            temp.remove();
        };

        var formatDuration = function(seconds) {
            var total = Math.max(0, Math.floor(seconds));
            var days = Math.floor(total / 86400);
            var hours = Math.floor((total % 86400) / 3600);
            var minutes = Math.floor((total % 3600) / 60);
            var secs = total % 60;

            var pad = function(num) {
                return num.toString().padStart(2, '0');
            };

            return `${pad(days)}:${pad(hours)}:${pad(minutes)}:${pad(secs)}`;
        };

        var formatMB = function(bytes) {
            var value = Number(bytes);
            if (!Number.isFinite(value) || value < 0) {
                value = 0;
            }

            return (value / (1024 * 1024)).toFixed(1);
        };

        var escapeHtml = function(text) {
            return String(text)
                .replace(/&/g, '&amp;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;')
                .replace(/"/g, '&quot;')
                .replace(/'/g, '&#039;');
        };

        var renderInfoSection = function(title, rows) {
            var html = '<h6 class="mb-2">' + escapeHtml(title) + '</h6>';
            html += '<div class="table-responsive mb-3"><table class="table table-sm table-striped mb-0">';
            html += '<thead><tr><th>Parameter</th><th>Value</th></tr></thead><tbody>';

            for (var i = 0; i < rows.length; i++) {
                var row = rows[i] || {};
                html += '<tr><td><code>' + escapeHtml(row.key || '') + '</code></td><td>' + escapeHtml(row.value || '') + '</td></tr>';
            }

            html += '</tbody></table></div>';
            return html;
        };

        this.data = clientData;

        this.pubKeyFingerprint = clientData.pubKeyFingerprint;
        this.id = clientData.id;
        this.isCensused = ko.observable(!!clientData.isCensused);
        this.remoteAddr = clientData.remoteAddr;
        this.user = clientData.user;
        this.version = clientData.version;
        this.session = clientData.session;
        this.connectedAt = clientData.connectedAt;
        this.connectedAtPretty = clientData.connectedAtPretty;
        this.connectionNote = clientData.connectionNote || '';
        this.dataInBytes = ko.observable(Number(clientData.dataInBytes) || 0);
        this.dataOutBytes = ko.observable(Number(clientData.dataOutBytes) || 0);
        this.clientInfo = ko.observableArray(clientData.clientInfo || []);
        this.configInfo = ko.observableArray(clientData.configInfo || []);
        this.listeners = clientData.listeners || [];
        this.listenerCount = ko.observable(this.listeners.length);

        this.connectionDuration = ko.observable('00:00:00:00');

        this.connectionStatsTooltip = ko.pureComputed(function() {
            return 'Started: ' + this.connectedAtPretty +
                '<br>Duration: ' + this.connectionDuration() +
                '<br>DATA IN: ' + formatMB(this.dataInBytes()) + ' MB' +
                '<br>DATA OUT: ' + formatMB(this.dataOutBytes()) + ' MB';
        }, this);

        this.updateDuration = function() {
            var started = new Date(this.connectedAt);
            if (isNaN(started.getTime())) {
                this.connectionDuration('00:00:00:00');
                return;
            }

            var now = new Date();
            var seconds = (now.getTime() - started.getTime()) / 1000;
            this.connectionDuration(formatDuration(seconds));
        }.bind(this);

        this.updateDuration();

        this.active = ko.observable(false);

        this.disconnectClient = function() {
            $.get(window.location.href.replace("console", `api/disconnectclient/${this.remoteAddr}`), function(data) {
                window.location.reload();
            });
        }.bind(this);

        this.showNotes = function(data, event) {
            if (event && event.stopPropagation) {
                event.stopPropagation();
            }

            $('#notesModalLabel').text(`Notes - ${this.remoteAddr}`);
            $('#notesModalBody').text(this.connectionNote || 'No notes provided.');
            $('#notesModal').modal('show');
        }.bind(this);

        this.showAndCopyValue = function(label, value, event) {
            if (event && event.stopPropagation) {
                event.stopPropagation();
            }

            var textValue = value || '';
            copyToClipboard(textValue);
            $('#valueModalLabel').text(`${label} - ${this.remoteAddr}`);
            $('#valueModalBody').text(textValue || 'No value available.');
            $('#valueModal').modal('show');
        }.bind(this);

        this.showAndCopySession = function(data, event) {
            this.showAndCopyValue('SSH Session ID', this.session, event);
        }.bind(this);

        this.showAndCopyFingerprint = function(data, event) {
            this.showAndCopyValue('SSH Pubkey Fingerprint', this.pubKeyFingerprint, event);
        }.bind(this);

        this.showInfo = function(data, event) {
            if (event && event.stopPropagation) {
                event.stopPropagation();
            }

            var bodyHtml = '';
            bodyHtml += renderInfoSection('SEZIONE CLIENT', this.clientInfo());
            bodyHtml += renderInfoSection('SEZIONE CONFIG', this.configInfo());

            $('#infoModalLabel').text('Info - ' + this.remoteAddr);
            $('#infoModalBody').html(bodyHtml);
            $('#infoModal').modal('show');
        }.bind(this);

        this.showRoutes = function() {
            clients.routes.removeAll();

            for (var client of clients.clients()) {
                client.active(false);
            }

            this.active(true);

            var routeTypes = {HTTP: ["httpListeners", "httplistener"], TCPAlias: ["tcpAliases", "tcpalias"], NET: ["listeners", "listener"]};
            for (var routeType in routeTypes) {
                for (var route in this.data.routeListeners[routeTypes[routeType][0]]) {
                    clients.routes.push(new Route(this.data, routeType, route, this.data.routeListeners[routeTypes[routeType][0]][route], routeTypes[routeType][1]));
                }
            }
        }.bind(this);

        this.updateFromPayload = function(nextData) {
            this.data = nextData;
            this.pubKeyFingerprint = nextData.pubKeyFingerprint;
            this.isCensused(!!nextData.isCensused);
            this.connectedAt = nextData.connectedAt;
            this.connectedAtPretty = nextData.connectedAtPretty;
            this.connectionNote = nextData.connectionNote || '';
            this.dataInBytes(Number(nextData.dataInBytes) || 0);
            this.dataOutBytes(Number(nextData.dataOutBytes) || 0);
            this.clientInfo(nextData.clientInfo || []);
            this.configInfo(nextData.configInfo || []);
            this.listeners = nextData.listeners || [];
            this.listenerCount(this.listeners.length);
            this.updateDuration();
        }.bind(this);
    };

    $(function() {
        var clientsApiUrl = window.location.href.replace("console", "api/clients");

        var syncClientsFromApi = function(data) {
            var currentClients = clients.clients();
            var activeClientId = null;
            for (var i = 0; i < currentClients.length; i++) {
                if (currentClients[i].active()) {
                    activeClientId = currentClients[i].id;
                    break;
                }
            }

            var existingByID = {};
            for (var m = 0; m < currentClients.length; m++) {
                existingByID[currentClients[m].id] = currentClients[m];
            }

            var nextClients = [];
            var payloadClients = data.clients || {};
            var clientKeys = Object.keys(payloadClients).sort();
            for (var j = 0; j < clientKeys.length; j++) {
                var payloadClient = payloadClients[clientKeys[j]];
                if (!payloadClient) {
                    continue;
                }

                var existingClient = existingByID[payloadClient.id];
                if (existingClient) {
                    existingClient.updateFromPayload(payloadClient);
                    nextClients.push(existingClient);
                    continue;
                }

                nextClients.push(new Client(payloadClient));
            }

            var structureChanged = currentClients.length !== nextClients.length;
            if (!structureChanged) {
                // Keep DOM stable when structure is unchanged to avoid tooltip/focus flicker.
                for (var x = 0; x < currentClients.length; x++) {
                    if (currentClients[x].id !== nextClients[x].id) {
                        structureChanged = true;
                        break;
                    }
                }
            }

            if (structureChanged) {
                clients.clients(nextClients);
            }

            if (!activeClientId) {
                clients.routes.removeAll();
                return;
            }

            var activeClient = null;
            for (var k = 0; k < nextClients.length; k++) {
                if (nextClients[k].id === activeClientId) {
                    activeClient = nextClients[k];
                    break;
                }
            }

            if (!activeClient) {
                clients.routes.removeAll();
                return;
            }

            activeClient.showRoutes();
        };

        var loadClients = function() {
            // Anti-overlap guard: skip if previous poll request is still in-flight.
            if (clients.isPolling) {
                return;
            }

            clients.isPolling = true;

            $.getJSON(clientsApiUrl, function(data) {
                syncClientsFromApi(data);
            }).always(function() {
                clients.isPolling = false;
            });
        };

        $('body').tooltip({
            selector: '[data-toggle="tooltip"]',
            container: 'body'
        });

        ko.applyBindings(clients);

        loadClients();

        clients.sishRefreshTimer = setInterval(loadClients, 1000);
        $(window).on('beforeunload', function() {
            if (clients.sishRefreshTimer) {
                clearInterval(clients.sishRefreshTimer);
                clients.sishRefreshTimer = null;
            }
        });
    });
</script>
<style>
    .compact-col {
        width: 170px;
        max-width: 170px;
    }

    .version-col {
        width: 130px;
        max-width: 130px;
        word-break: break-word;
    }

    .info-col {
        width: 70px;
        max-width: 70px;
        text-align: center;
        vertical-align: middle;
    }

    .ellipsis-text {
        display: inline-block;
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }

    .cid-col {
        width: 56px;
        max-width: 56px;
        text-align: center;
        vertical-align: middle;
    }

    .cid-dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .cid-green {
        background-color: #2ea043;
    }

    .cid-red {
        background-color: #d73a49;
    }
</style>
{{ template "footer" .}}
{{ end }}